<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576019239537-v4fc40sg3t5odvfrqlbioh0ba1imspj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576019239537-v4fc40sg3t5odvfrqlbioh0ba1imspj5</string>
	<key>API_KEY</key>
	<string>AIzaSyC5GJ2lGwTH-gkpBhKf6F-V_ekrjYDdX70</string>
	<key>GCM_SENDER_ID</key>
	<string>576019239537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timelapsai.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-22222</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-22222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576019239537:ios:fedae7dafc053cff</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-22222.firebaseio.com</string>
</dict>
</plist>